.THIS .forWidth {
    width: 35%;
} 

.THIS .forlabel {
    color: lightseagreen;
    font-size: -webkit-xxx-large;
    
}

.THIS .forlabel1 { 
    font-size: 2rem;
}   

.THIS .forRightMargin {

    margin-right: 87%;

} 

.THIS .forRightMargin1 {

    margin-right: 76%;

}